/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.wrapper {
	min-height: 100%;
}

body {
  color: #ffffff;
  height:100%;
}

#sidebar {
    width:400px;
    position:absolute;
    right: 0;
    height:100%;
    background:#efefef;
}

#map {
    position: absolute;
	width: 100%;
}

#topright {
    position: absolute;
    z-index: 1000;
}

.ol-zoom {
   bottom: 8px
}